.text {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ffd600;
  border-bottom: 1px solid #ffd600;
  margin-bottom: 20px;
}

.rows {
  height: 210px;
  overflow-y: auto;
}

@media (max-width: 810px) {
  .case {
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
  }
}
