.case {
  width: 300px;
  height: 300px;
  background-color: #272727;
  border-radius: 15px;
  border: 3px solid #ffd600;
  position: fixed;
  top: 9%;
  right: 1%;
  z-index: 1;

  .cross {
    font-size: 18px;
    position: relative;
    left: 93%;
    font-weight: bold;
    color: #ffd600;
    cursor: pointer;
    background-color: #272727;
    border: none;
    outline: none;
  }

  .text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #ffd600;
    border-bottom: 1px solid #ffd600;
    margin-bottom: 20px;
  }

  .rows {
    height: 210px;
    overflow-y: auto;
  }
}

@media (max-width: 810px) {
  .case {
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
  }
}
