.short {
  max-width: 100px;
  padding: 0 10px;
  bottom: 3%;
  left: 2%;
  height: 30px;
  background-color: #ffd900;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.3s linear;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;

  &:hover {
    border-radius: 15px;
  }
}

.long {
  width: 90%;
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 30px;
  background-color: #ffd900;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.3s linear;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;

  &:hover {
    border-radius: 15px;
  }
}

.cross {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  color: #ffd600;
  font-size: 24px;
  font-weight: bold;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  position: relative;
  left: 91%;
  transform: rotate(45deg);
  cursor: pointer;
}

.blackCross {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  position: relative;
  right: 1%;
  transform: rotate(45deg);
  cursor: pointer;
}

.plus {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  font-size: 24px;
  font-weight: bold;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  position: absolute;
  right: 1%;
  cursor: pointer;
}

.common {
  width: 30px;
  height: 30px;
  background-color: #fff;
  font-weight: bold;
  border-radius: 50%;
  border: 3px solid #ffd600;
  cursor: pointer;
}

.active {
  width: 35px;
  height: 35px;
  background-color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
  border: 3px solid #ffd600;
  cursor: pointer;
  color: #ffd600;
}
