.short {
  max-width: 100px;
  padding: 0 10px;
  bottom: 3%;
  left: 2%;
  height: 30px;
  background-color: #ffd900;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.3s linear;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;

  &:hover {
    border-radius: 15px;
  }
}

.long {
  width: 90%;
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 30px;
  background-color: #ffd900;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.3s linear;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;

  &:hover {
    border-radius: 15px;
  }
}
