.common {
  width: 30px;
  height: 30px;
  background-color: #fff;
  font-weight: bold;
  border-radius: 50%;
  border: 3px solid #ffd600;
  cursor: pointer;
}

.active {
  width: 35px;
  height: 35px;
  background-color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
  border: 3px solid #ffd600;
  cursor: pointer;
  color: #ffd600;
}
